data/
datasets/
*.h5ad

results/

/article/real_bonemarrow_dataset.py
/article/real_dendate_dataset.py
/article/real_hindbrain_dataset.py
/article/synthetic_bifurcation_dataset.py

/article/benchmark/benchmark_results/

/article/figures/supplementary/
/article/revision/article_figures/supplementary/
extra/


scvelo/
scvelo2/

/export_project.py
/velot_project_export.txt
/readthedocs_export.txt
/project_tree.txt
/notes.txt

notebooks/agusti/
notebooks/extra/
notebooks/supplementary/*/
notebooks/vamp/*/

*.egg-info/
build/
dist/

__pycache__/
.vscode/
*.bak

docs/_build/