data/
datasets/
*.h5ad

agusti/
supplementary/
flux_matching/
scvelo/
scvelo2/
LatentVelo/

extra/

/export_project.py
/velot_project_export.txt
/readthedocs_export.txt
/project_tree.txt

*.egg-info/
build/
dist/

__pycache__/

docs/_build/