data/
datasets/
*.h5ad

/article/real_bonemarrow_dataset.py
/article/real_dendate_dataset.py
/article/real_hindbrain_dataset.py
/article/synthetic_bifurcation_dataset.py

/article/benchmark/benchmark_results/

/article/figures/supplementary/
/article/figures/figure 1/extra/


scvelo/
scvelo2/

/export_project.py
/velot_project_export.txt
/readthedocs_export.txt
/project_tree.txt

notebooks/agusti/
notebooks/extra/
notebooks/supplementary/*/

*.egg-info/
build/
dist/

__pycache__/

docs/_build/